@model SampleSite.Models.Forms.UserForm

<input asp-for="Id" type="hidden" name="@nameof(Model.Id)" />

<div class="form-group">
    <label asp-for="UserName"></label>
    <input class="form-control"
           asp-for="UserName"
           name="@nameof(Model.UserName)" />
    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Email"></label>
    <input class="form-control"
           asp-for="Email"
           name="@nameof(Model.Email)" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Age"></label>
    <input class="form-control"
           asp-for="Age"
           name="@nameof(Model.Age)" />
    <span asp-validation-for="Age" class="text-danger"></span>
</div>

<div class="form-group">
    <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    <button class="btn btn-primary" type="submit">Confirm</button>
</div>

